

body{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    height: 100%;
}

div{
  color: black;
}
#headerOne{
  background-color:rgb(111, 5, 79);
  color: white;
  height: 35px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#phoneIcon > p{
  color: white;
}

#headerOne > p{

  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  left: 210px;
  position: absolute;
  

}

#headerOne > #emailIcon{
  width: 20px;
  position: absolute;
  left: 180px;
 
 }

 #phoneIcon{
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
 }
 #headerOne >  div > img.phoneIcon{
  width: 40px;
 
 }

 .searchBar{

  position: absolute;
  right: 40px;
  display: inline-block;
 }
#formContainer{

  position: relative;
  display: inline-block;
}
.submitSearch{
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-40%);
  background: none;
 }
 .searchBar > div> input[type="text"]{
  background-color: #f0f0f0f0;
  border: none;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  border-radius: 15px;
  padding-left: 10px;
  height: 25px;
  outline: none;
  
 

 }



 .submitSearch i{
 }

header {
    background: white url("../assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px center;
	  background-size: contain;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    display: flex;
}


nav > a{
	
	  font-family: Helvetica;
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s linear;
    font-weight: light;
    margin-left: 50px;
    top: 031.5px;
    position: relative;
}

a:hover{

  color:rgb(84, 2, 46);
  border-bottom: 1px solid rgb(84, 2, 46);
  
}


nav{
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 40px;
  

  
}


@media screen and (max-width: 667px){
  
  .searchBar{
    display: none;
  }
  nav > a{
	
    font-family: Helvetica;
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s linear;
    font-weight: light;
    margin-left: 10px;
    top: 031.5px;
    position: relative;
    font-size: 12px;
 
}
nav{

  right: 20px;
}
 }

.imgContainer{

  height: 70vh;
  width: 100%;
  background:  url(../assets/images/mainlib.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {

  text-align: center;
  padding: 50px;
  background-color:rgba(253, 248, 251, 0.612);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

}


.welcome.container.active{
  opacity: 1;
}
/* Style for the heading */
.welcome-container h1 {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(70, 2, 63);
  font-size: 55px;
  margin-bottom: 10px;
  text-align: left;
}

/* Style for the paragraphs */
.welcome-container p {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
  color: rgb(70, 2, 63);;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 20px;
}


.grid{
  height: 40vh;
  width: 100%;
  display: flex;
  background-color: rgb(242, 232, 239);
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  

}

.gridBooks > a , .grid>a{
  margin: 20px;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  background-color: aliceblue;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  

}
.gridChild{
  /* background: white url("../assets/images/libimg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  width: 200px;
  height: 200px;
  cursor: pointer;

}

.author{
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  margin: 0px;
}

.readMore{
 bottom: 20px;
  color: black;
  position: relative; 
  left: 50px;
  display: inline-block;
  margin-top: 30px;
}
.readMore>a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 668px){
  .readMore{
    border: none;
    margin-left: 40px;
  }
}


.gridBooks{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 4rem;
  margin-top: 2rem;
  overflow-y: hidden;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.gridBooks > h1{
  display: inline-block;
  border: 2px solid red;
  margin-bottom: 0px;

}
.bookContent{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  display: inline-block;
  margin-left: 20px;
  height: 100%;
  width: 700px;
  line-height: 20px;
  margin-top: 0px;
 
}

.container-div{
  
  /* overflow-y: hidden; */
  /* border: 2px solid red; */
}


footer{
	bottom: 0px;
	border-top: 1px solid #CCCCCC;
  height: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  color: rgb(87, 5, 71);
  margin-top: 10px;
  position: relative;
}