<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>File Upload</title>
    </head>

    <body>
        <p>
        <form action="/fileupload" method ="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="upload">
        </form>
    </p>

    <p>

    </p>
    </body>

    <script type="text/javascript">

        //
//from werkzeug.utils import secure_filename
//from werkzeug.datastructures import FileStorage
     {%if alert_message%}
        alert("{{alert_message}}");

     {% endif %}
    </script>
</html>

