<div id="dashboard">


    <header>
        <nav>
            
        <a href="{{url_for('dashboard')}}">DASHBOARD</a>
        <a href="{{url_for('home')}}">HOME</a> 
          <a href="{{url_for('about')}}">ABOUT</a>
          <a href="{{url_for('books')}}" title="Click to view available books" >BOOKS</a>
          <a href="{{url_for('addbooks')}}" id="addbooks"> ADD BOOKS </a>
         <a href="{{url_for('logout')}}"> LOGOUT </a>
        </nav>
      </header>
      <main>
       
    
   

    
      </main>




</div>